<template>
    <div>
        <h2>Список постов</h2>
        <post-item class="post" v-for="post in posts" :key="post" :post='post' />
    </div>
</template>

<script>
import PostItem from '@/components/PostItem.vue'
export default {
    components: {PostItem},
    props: {
        posts: {
            type: Array,
            required: true
        }
    }
}
</script>

<style scoped>
    
</style>