<template>
  <form class="form" @submit.prevent>
        <h1 class="title"> Создать пост </h1>
        <input class="input" v-model="post.title" type="text" placeholder="Название">
        <input class="input" v-model="post.description  " type="text" placeholder="Описание"> 
        <my-button @click="createPost" style="margin-top: 10px">
            Создать
        </my-button>
    </form>
</template>

<script>
import MyButton from '@/components/UI/MyButton.vue';
export default {
    components: {MyButton},
    data() {
        return {
            post: {
                title: '',
                description: '',
            }
        }
    },
    methods: {
        createPost() {
            this.post.id = Date.now();
            this.$emit('create', this.post),
            this.post = {
                title: '',
                description: '',
            }
            
        }
    }
}
</script>

<style scoped>
    .title {
        font-family: sans-serif;
        text-align: center;
    }
    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .form p {
        font-weight: bolder;
        text-align: center;
    }
    .form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>