<template>
    <div class="post">
        <div>
            <div class="post__title"> <b>Название:</b> {{post.title}} </div>
            <div class="post__description"> <b>Описание:</b> {{post.description}}</div>
        </div>
        <div class="post__btns">
            <my-button> Удалить </my-button>
        </div>
    </div>
</template>

<script>
import MyButton from '@/components/UI/MyButton.vue';
export default {
    components: {MyButton},
    props: {
        post: {
            type: Object,
            required: true,
        }
    }
}
</script>

<style scoped>
    .post {
        width: 100%;
        outline: 2px solid teal;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 20px 50px;
    }
    .post__title {
        font-family: sans-serif;
        margin-bottom: 5px;
    }
    .post__title b {
        color: gray;
        text-decoration: underline;
    }
    .post__description {
        font-family: sans-serif;
    }
    .post__description b {
        color: gray;
        text-decoration: underline;
    }
</style>