<template>
    <div class="container">
        <post-form @create='createPost'/>
        <post-list :posts="posts"/>
    </div>
</template> 

<script>
import PostForm from '@/components/PostForm.vue';
import PostList from '@/components/PostList.vue';
export default {
    components: {
        PostForm, PostList
    },
    data() {
        return {
            posts: [
                {id: 1, title: 'Пост про вью', description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'},
                {id: 2, title: 'Пост про вью 2', description: 'hfhfhgfhfgh.'},
                {id: 3, title: 'Пост про вью 3', description: '9-07ijythrtgrh'},
            ],
        }
    },
    methods: {
        createPost(post) {
            this.posts.push(post);
        }
    }
}
</script>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: 0;
    }
    .container {
        padding: 50px;
    }
    .title {
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 48px;
        text-align: center;
        margin-bottom: 40px;
    }
</style>