<template>
  <button>
      <slot></slot>
  </button>
</template>

<script>
export default {

}
</script>

<style>
    button{
        font-family: sans-serif;
        font-size: 16px;
        font-weight: bolder;
        align-self: flex-end;
        background: transparent;
        outline: 2px solid teal;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        padding: 20px 40px;
    }
</style>